// screen breakpoints;
$screen-size_xs: 576px;
$screen-size_xs-before: calc($screen-size_xs - 1px);
$screen-size_sm: 768px;
$screen-size_sm-before: calc($screen-size_sm - 1px);
$screen-size_md: 992px;
$screen-size_md-before: calc($screen-size_md - 1px);
$screen-size_lg: 1200px;
$screen-size_x-lg: 1440px;

// colours
$mid-grey: #6c706f;
$logo-dark-red: #c83434;