// screen breakpoints
$screen-size_xs: 576px;
$screen-size_sm: 768px;
$screen-size_sm-before: calc($screen-size_sm - 1px);
$screen-size_md: 992px;
$screen-size_md-before: calc($screen-size_md - 1px);
$screen-size_lg: 1200px;